.header {
  height: 100vh;
  color: gray;
  border-bottom: 2px solid #292929;
}
.header__body {
  margin-top: 20vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.header__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.header__title {
  margin: 16px 0 0;
  padding: 0px 0px 16px;
  width: 100%;
  font-family: "CrimsonText", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  border-bottom: 2px solid #292929;
}

.header__description {
  margin: 0;
  padding: 0px 0 16px;
  width: 100%;
  font-family: "CrimsonText", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  border-bottom: 2px solid #292929;
}

.header__start-btn {
  width: 50%;
  padding: 16px 0px;
  font-family: "CrimsonText", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #292929;
  color: gray;
  border: none;
  border-radius: 16px;
}

.header__img {
  height: 160px;
  width: 160px;
  border-radius: 8px;
}

@media screen and (min-width: 767px) {
  .header__title {
    font-size: 42px;
  }
  .header__description {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 48px;
  }
  .header__description {
    font-size: 22px;
  }

  .header__start-btn {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .header__body {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 40px;
  }

  .header__title {
    font-size: 56px;
  }

  .header__description {
    font-size: 32px;
  }

  .header__start-btn {
    font-size: 32px;
  }

  .header__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
