.page {
  height: 110vh; /* temp */
  padding: 0px 20px;
  background-color: black;
}

/* Tablet */
@media screen and (min-width: 767px) {
}
/* Small Laptop */
@media screen and (min-width: 1024px) {
}
/* Big Laptop */
@media screen and (min-width: 1440px) {
}
